build text=auto eol=lf
* text=auto eol=lf
*.* text=auto eol=lf
./build text=auto eol=lf
scripts/* text=auto eol=lf
*.cmd text eol=crlf
*.bat text eol=crlf
*.jpg -text
*.png -text
*.pdf -text
scripts/erlfmt -text
